
.container {
    margin: auto;
    padding: auto;
    width: 100%;
}
table {
    width: 80%;
    margin: auto;
}
table tr {
    height: 60px;
}
.main {
    color: #337ab7;
    width: 80%;
    display: flex;
    margin: 20px auto;
}
.file-upload {
    cursor: pointer;
}
.file-upload > input {
    display: none;
}