<div class="container">

  <div class="main">
    <a style="cursor: pointer" (click)="exportexcel()">
      <i class="fa fa-download">&nbsp;Export</i>
    </a>
    &nbsp;&nbsp;
    <div class="file-upload">
      <label for="file">
        <i class="fa fa-upload">&nbsp;Upload</i>
      </label>
      <input type="file" id="file" (change)="onFileChange($event)">
    </div>
  </div>

  <table id="excel-table">
    <tr>
      <th>Product Number</th>
      <th>Partner</th>
      <th>MS Contract ID</th>
      <th>Last Modified Date</th>
    </tr>
    <tr *ngFor="let device of devices">
      <td>{{device.pNo}}</td>
      <td>{{device.partner}}</td>
      <td>{{device.contractId}}</td>
      <td>{{device.lastmodifieddate}}</td>
    </tr>
  </table>
</div>